html body{
z-index:-10;
Background-color:#DCDCDC;
height: 100%;
}

#menu{
background-color:#303030;
text-align:center;
}

#chapeau{
background-color:white;
text-align:center;
font-size:45px;
}

#liens{
height:30px;
padding:0;
margin:0;
list-style-type:none;
margin-bottom:40px;
}

#liens li{
list-style-type : none;
display: inline; 
margin-left:20px;
}

#liens li a{
display: inline-block;
color:white;
text-align:center;
}

#menuleft{
background-color:white;
float:left;
width:10%;
height:auto !important;
min-height:600px;
}

#container{
border-top:1px black solid;
border-bottom:1px black solid;
}

#cours{
text-align:center;
margin-top:3%;
padding:0;
width:100%;
}

#cours li{
padding:5%;
list-style-type:none; 
margin-bottom:30px;
border:1px solid black;
}

#media{
float:left;
width:90%;
height:auto;
text-align:center;
background-color:white;
height:600px;
}

#navigation{
width:550px;
height:100px;
margin:auto;
margin-left:325px;
}

.bouton{
margin-top:5px;
margin-right:0px;
margin-left: 0px;
padding:5px;
border-left:1px black solid;
border-top:1px black solid;
border-bottom:1px black solid;
height:60px;
background-image:url(images/fondbouton.png);
}

#slideshow{
display: inline-block;
width:1000px;
height:500px;
overflow:hidden;
margin-left:50px;
}

#sliders{
width:5000px;
height:500px;
}

.slide{
background:#f2f2f2;
border-left:1px black solid;
border-right:1px black solid;
border-top:1px black solid;
width:998px;
height:498px;
float:left;
color:black;

/*font-size:300px;
font-weight:bold;*/
}               

.vignette{
height:150px;
margin-left:10px;
margin-top:10px;
}            

.titre{
color:red;
font-size:50px;
font-weight:bold;
margin-bottom:10px;
}

.title_question{
color:black;
font-weight:bold;
}

#bouton_tester{
background-image:url(images/fondbouton.png);
padding:5px;
margin:5px;
margin-top:20px;
border:1px black solid;
}
#sources{
}
		
		
#footer{
clear: both;
background-color:white;
height: 50px;
margin-top:40px;
text-align:center;
border-top:1px black solid;
}

.push{
clear: both;
}


